@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
  display: grid;
  grid-template-columns: repeat(4, 2fr) 1fr;
  column-gap: 1rem;
  align-items: bottom;
  padding: 1rem;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
}